body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

p, h1, h2, h3, h4 {
  font-family: 'Crimson Text', serif;
}

h3 {
  line-height: 3;
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

nav {
  font-family: 'Crimson Text', serif;
  font-size: 24px;
}

.navbar-default {
  background-color: #fafafa;
  border: none;
}

.navbar-nav>li>a {
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #DB1111;
  background-color: #fafafa;
  border-bottom: 2px solid #ddd;
}

.belief {
  background: #fff;
  border-top: 3px solid #eee;
  padding-top: 10px;
  font-weight: 300;
  height: 200px;
  margin-top: 10px;
}

.belief p {
  font-size: 18px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.margin-top {
  margin-top: 30px;
}

blockquote {
  font-size: 14px;
  margin: 0px;
  border: none;
}

.node circle {
  stroke: #fff;
  stroke-width: 1.5px;
  fill: #000;
}

.node text {
  pointer-events: none;
  font: 11px sans-serif;
}

.link {
  stroke: #999;
  stroke-opacity: .1;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-right {
  margin-right: 10px;
}

a {
  cursor:pointer;
  color: #888;
}

.strong {
  font-weight: bold;
}

.keyword {
  background: #fafafa;
  height: 17px;
  position: relative;
  margin-bottom: 1px;
  font-size: 11px;

  cursor: pointer;

  -webkit-transition: height .15s ease-out;
  -moz-transition: height .15s ease-out;
  -ms-transition: height .15s ease-out;
  -o-transition: height .15s ease-out;
  transition: height .15s ease-out;

}

.keyword .back {
  background: #A0EFCB;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 0px;

  -webkit-transition: width .15s ease-out;
  -moz-transition: width .15s ease-out;
  -ms-transition: width .15s ease-out;
  -o-transition: width .15s ease-out;
  transition: width .15s ease-out;

}

.keyword.concept .back {
  background: #009eff;
  opacity: .3;
}

.keyword .front {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 3px;
  font-size: 11px;

  -webkit-transition: opacity .15s ease-out;
  -moz-transition: opacity .15s ease-out;
  -ms-transition: opacity .15s ease-out;
  -o-transition: opacity .15s ease-out;
  transition: opacity .15s ease-out;
}

.keyword .count {
  position: absolute;
  top: 1px;
  bottom: 0px;
  right: 3px;
}

.keyword:hover {
  background:#fff;
}

.keyword:hover .count,
.keyword:hover .front {

}


strong {
  font-weight: 400;
}

.tag {
  background-color: #f5f5f5;
  font-size: 13px;
  font-weight: 300;
  display: inline-block;
  margin: 2px;
  padding: 4px 10px;
  border-radius: 2px;
  cursor: pointer;

  line-height: 1.5;

  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}

.tag.muted {
  opacity: .2;
  cursor: auto;
}

.tag.selected {
  background-color: #A0EFCB;
}

.tag:hover {
  background-color: #A0EFCB;
}

.tag.info:hover,
.tag.muted:hover {
  background-color: #f5f5f5;
}

.tag.remove {
  background-color: #F28181;
  color: #fff;
}

.tag i {
  margin-left: 8px;
  opacity: .6;
}

.tag i:hover {
  opacity: 1;
}

i {
  cursor: pointer;
}

.magnify {
  width: 100%;
}

.contained {
  height: 700px;
  overflow: scroll;
  overflow-x: hidden;

}

.lined {
  border-top: 3px solid transparent;
}

.columns {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

textarea, input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 6px;
  font-weight: 400;
  border-radius: 2px;
  font-weight: 300;
}

.btn:focus,
input[type="number"]:focus,
input[type="text"]:focus,
textarea:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #888;
  outline: 0px auto -webkit-focus-ring-color !important;
  outline: none;
}

.btn.btn-primary {
  border-radius: 2px;
  border: none;
  font-weight: 300;
  background-color: #ddd;
  font-size: 12px;
  color: #444;
}

.btn-default {
  color: #fff;
  background-color: #19C785;
  border: none;
  /* border-radius: 2px; */
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 300;
}

.tiny {
  font-size:16px;
}

.text-muted {
  color: #999;
}

.alert {
  border: none;
}

.big {
  color: #DB1111;
}

.big:hover {
  text-decoration: none;
  color: #222;
}

.footer {
  margin-top:30px;
  height: 100px;
  padding: 8px 0px;
  background-color: #fafafa;
}
