<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Beliefs</title>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic|Roboto:400,300,300italic,100italic,100,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
  <script>
    document.write('<base href="' + document.location + '" />');
  </script>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">


</head>
<body ng-controller="AppCtrl">
  <nav role="navigation" class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      </div>
      <div id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Visualizing the Beliefs</a></li>
          <li ><a href="/beliefs.html">Explore the Beliefs</a></li>
          <!--<li data-ng-class="{'active' : location.path() == '/users'}"><a href="/users">Users</a></li>-->
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div autoscroll="true">

      <div class="row margin-top">
        <div class="col-lg-12">
          <p>To get a better sense of the types of beliefs that <a href="http://www.atheistmindhumanistheart.com/vote-for-beliefs/", target="_blank">were entered,</a> we analyzed the 2804 beliefs through text mining and interactive visualizations. The results reveal a map of the most common concepts and keywords and how they relate to each other.</p>
        </div>
      </div>

      <div class="lined">

        <h3>What are the most common keywords?</h3>

        <div class="row">
          <div class="col-lg-6 col-md-6">
            <p class="">Keywords are terms explicitly mentioned in the beliefs. Words with a similar basic meaning (e.g. children and child) have been grouped together and considered the same. On the left, it is possible to see the distribution of the top 100 keywords extracted. The number indicates the frequency of the term in the beliefs. The graph on the right shows the co-occurrences between the keywords. Each node represents a keyword and nodes are connected if they appear in the same belief. The size of the nodes is proportional to the frequency of the keywords in all the beliefs, while the width of the links shows how many times they occur together.</p>
          </div>

          <div class="col-lg-6 col-md-6">
            <p>The network is highly interconnected, showing us that most of the beliefs share the same terms. The most common and interconnected terms can be found at the center of the graph. These are general concepts such as <i>life, world, love, human, respect</i> and we can infer these as a common ground for many of the beliefs. In the periphery of the graph, we can find more specific concepts and clusters of similar/related terms, such as <i>truth, reality, question, evidence</i> at the bottom right or <i>community, individual, freedom, treat, right</i> at the top.</p>
          </div>

        </div>

        <div class="row margin-top">

          <div class="col-lg-3">

            <input ng-model="searchKeyword.key" type="text" placeholder="search..." class="form-control margin-bottom"/>
            <div class="contained">

              <div ng-show="!keywords.length" class="alert alert-warning">Loading keywords</div>
              <div ng-repeat="keyword in keywords | orderBy:'percentage':true | filter:searchKeyword" class="keyword">
                <div ng-style="{'width':keyword.percentage+'%'}" class="back"></div><span class="front">{{keyword.key}}</span><span ng-show="criteria=='count'" class="count">{{keyword.count}}</span><span ng-show="criteria=='entries'" class="count">{{keyword.count}}</span>
              </div>

            </div>

          </div>
          <div class="col-lg-9">
            <div id="keywords-focal">
              <div class="pull-right margin-bottom">
                <a class="btn btn-primary zoom-out"><i class="fa fa-minus"></i></a>
                <a class="btn btn-primary zoom-in"><i class="fa fa-plus"></i></a>
              </div>
              <div class="clearfix"></div>
              <div>
                <img id="keywords-network" src="images/keywords_network.jpg" class="magnify"/>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="lined">


        <h3>What are the beliefs about?</h3>

        <div class="row">
          <div class="col-lg-6 col-md-6">
            <p class="">The following are the top 100 concepts extracted from the beliefs. What is a concept? Concepts are <a href="http://en.wikipedia.org/wiki/Concept_mining" target="_blank">high-level abstractions</a> of the beliefs. They aren't necessarily directly referenced in the text but they can be implicitly related to the belief. On the left, it is possible to see the distribution of the top 100 concepts extracted. The number indicates the frequency of the concepts. The graph on the right shows the co-occurrences between the concepts: each node represents a concept and nodes are connected to each other if present in the same belief. The size of the nodes are proportional to the frequency of the concepts in all the beliefs, while the width of the links shows how many times they occur together.
            </p>
          </div>

          <div class="col-lg-6 col-md-6">

            <p>Similarly to the Keywords graph above, here too we have a highly interconnected network. At the center of the graph, <i>religion, science, world, psychology</i> appear as the most common concepts in the beliefs. At the bottom tight concepts related to nature, environment and ecology such as <i>earth, planet, biology, environment, environmentalism</i> are easily recognizable and they also appear in strong relationship with evolution concepts, <i>Charles Darwin, evolution, natural selection, species</i>. Philosophy and epistemology are also well visible on the left, linking together concepts like <i>Plato, Aristotle, thought, reason, knowledge.</i></p>

          </div>
        </div>

        <div class="row margin-top">

          <div class="col-lg-3">


            <input ng-model="searchConcept.key" type="text" placeholder="search..." class="form-control margin-bottom"/>
            <div class="contained">
              <div ng-show="!concepts.length" class="alert alert-warning">Loading concepts</div>
              <div ng-repeat="concept in concepts | orderBy:'percentage':true | filter:searchConcept" class="keyword concept">
                <div ng-style="{'width':concept.percentage+'%'}" class="back"></div><span class="front">{{concept.key}}</span><span ng-show="criteria=='count'" class="count">{{concept.count}}</span><span ng-show="criteria=='entries'" class="count">{{concept.count}}</span>
              </div>
            </div>

          </div>

          <div class="col-lg-9">
            <div id="concepts-focal">
              <div class="pull-right margin-bottom">
                <a class="btn btn-primary zoom-out"><i class="fa fa-minus"></i></a>
                <a class="btn btn-primary zoom-in"><i class="fa fa-plus"></i></a>
              </div>
              <div class="clearfix"></div>
              <div>
                <img id="concepts-network" src="images/concepts_network.jpg" class="magnify"/>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="lined">

        <h3>Mapping Beliefs</h3>

        <div class="row">
          <div class="col-lg-6 col-md-6">
            <p>The graph below brings together keywords and concepts extracted from the beliefs. Concepts and keywords are connected to each other if present in the same belief. The size of the nodes is proportional to the frequency of the keywords or concepts in all the beliefs, while the width of the links shows how many times they occur together.
            </div>

            <div class="col-lg-6 col-md-6">
              <p>The main themes touched by the beliefs appear here clearly at the center: life, human, religion, person, truth, science. All around, a wide spectrum of concepts opens up, highlighting a great diversity of interconnected topics: from <i>consciusness, spirituality, philosophy of mind</i> to <i>human rights, ethics, morality, laws</i> from <i>physic, planet, space and universe</i> to <i>scientific method, critical thinking and cognition.</i> </p>
            </div>

          </div>


          <div class="row">

            <div class="col-lg-12">
              <div id="focal">
                <div class="pull-right margin-bottom">
                  <a class="btn btn-primary zoom-out"><i class="fa fa-minus"></i></a>
                  <a class="btn btn-primary zoom-in"><i class="fa fa-plus"></i></a>
                </div>
                <div class="clearfix"></div>
                <div>
                  <img id="network" src="images/network.jpg" class="magnify"/>
                </div>
              </div>
            </div>

          </div>

          <h4 class="text-center margin-top"><a class="big" href="/beliefs.html">View an interactive tool to explore the beliefs &#8250;</a></h4>

        </div>



    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="margin-top text-muted">Analysis and visualizations performed by <a href="http://www.giorgiocaviglia.com" target="_blank">Giorgio Caviglia</a></p>
        </div>
      </div>
    </div>
  </div>

  <script src="scripts/jquery.min.js"></script>
  <script src="scripts/bootstrap.min.js"></script>
  <script src="scripts/d3.min.js"></script>
  <script src="scripts/jquery.imageLens.js"></script>
  <script src="scripts/jquery.panzoom.min.js"></script>
  <script src="scripts/angular.min.js"></script>
  <script src="scripts/angular-route.min.js"></script>
  <script src="scripts/angular-sanitize.min.js"></script>
  <script src="scripts/angular-strap.min.js"></script>
  <script src="scripts/angular-strap.tpl.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
